doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap-social/bootstrap-social.css')
    link(rel='stylesheet', href='/ng-table/bundles/ng-table.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
  body
    block content
    script(src="/jquery/dist/jquery.js")
    script(src="/angular/angular.js")
    script(src="/angular-route/angular-route.js")
    script(src="/bootstrap/dist/js/bootstrap.js")
    script(src="/plotly.js/dist/plotly.js")
    script(src="/underscore/underscore.js")
    script(src="/ng-table/bundles/ng-table.js")
    script(src="/javascripts/app.js")